@import './base.css';

.btn {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  color: #4a5568;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: #48bb78;
  border-color: #48bb78;
  color: #fff;
}

.btn-primary:hover {
  background-color: #38a169;
  border-color: #38a169;
}

.btn-danger {
  background-color: #f56565;
  border-color: #f56565;
  color: #fff;
}
.btn-danger:hover {
  background-color: #e53e3e;
  border-color: #e53e3e;
}
